.card{
    margin: 10px;
    width: 150px;
    height: 250px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.card:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.cardImg{
    width: 150px;
    height: 150px;
    object-fit: contain;
}
.cardTitle{
    margin-left: 10px;
}
.btn{
    font-size: medium;
    font-weight:500;
    width: 120px;
    height: 30px;
    background-color: rgb(80, 80, 191);
    margin-left: 10px;
    border: none;
    border-radius: 0 5px;
    cursor: pointer;
}
.btn:hover{
    background-color:rgb(56, 56, 188);
}
.btn:active{
    background-color: rgb(129, 129, 181);
}